
body {
    font-family: system-ui, sans-serif;
    font-size: 12pt;
    background-image: url("../dark.jpg");
    color: white;
    margin-left: 20%;
    margin-right: 20%;

}


.interests {
    text-indent: 40px;
    margin-bottom: 40px;
}
@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        align-items: space;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex: auto;
    
}

.name-header {
    font-family: monospace;
    font-size: 50pt;
    background: linear-gradient(turquoise, lightgreen);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:underline;

}

.header-intro {
    font-size: 3rem;
    text-decoration: underline;
}



.poem {
    font-style: italic;
    margin-left: 10%;
}

.time-header, .day-header {
    width: 10rem;
    text-align: center;
}

.time-header {
    width: 3rem;
}

.time-cell {
    text-align: center;
}

.activity-cell {
    text-align: center;
    padding: 1rem;
}

.get-ready {
    background-color: green;
    color: white;
}

.work {
    background-color: lightblue;
}

.study {
    background-color: beige;
}

.lunch {
    background-color: orange;
}

.gym {
    background-color: rgb(0, 86, 192);
    color: white;
}

.cs-class {
    background-color: gray;
    color: white;
}

.marketing-class {
    background-color: yellow;
}

.extra-schoolwork {
    background-color: midnightblue;
    color: white;
}

.relax {
    background-color: turquoise;
}

.book-link {
    text-decoration: none;
    color: turquoise;
}

.book-link:hover {
    text-decoration: underline;
}
