h1,h2,h3,h4,h5,h6 {
    margin-top: .75rem;
    margin-bottom: .10rem;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 12pt;
    background-image: url("../dark.jpg");
    background-attachment: fixed;
    background-size: cover;

    color: white;
    

}

.page {
    margin-left: 15%;
    margin-right: 15%;
}


.interests {
    text-indent: 40px;
    margin-bottom: 1rem;
}

@media (max-width: 1400px) {
    .header {
        flex-direction: column;
        align-items: space;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex: auto;

}

.name-header {
    font-family: monospace;
    font-size: 35pt;
    background: linear-gradient(turquoise, lightgreen);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:underline;

}
img {
    width: 80%;
}

.header-intro {
    font-size: 2.5rem;
    text-decoration: underline;
}



.poem {
    font-style: italic;
    margin-left: 10%;
}

.time-header, .day-header {
    width: 10rem;
    text-align: center;
}

.time-header {
    width: 3rem;
}

.time-cell {
    text-align: center;
}

.activity-cell {
    text-align: center;

    padding: 1rem;
}

.get-ready {
    background-color: green;
    color: white;
}

.work {
    background-color: lightblue;
    color: darkblue;
}

.study {
    background-color: beige;
    color: darkblue;

}

.lunch {
    background-color: orange;
    color: darkblue;

}

.gym {
    background-color: rgb(0, 86, 192);
    color: white;
}

.cs-class {
    background-color: gray;
    color: white;
}

.marketing-class {
    background-color: yellow;
    color: darkblue;

}

.extra-schoolwork {
    background-color: midnightblue;
    color: white;
}

.relax {
    background-color: turquoise;
    color: darkblue;

}

.book-link {
    text-decoration: none;
    color: turquoise;
}

.book-link:hover {
    text-decoration: underline;
}
